.row.customblogs {
    border: 1px solid;
    min-height: 350px;
    text-align: center;
    margin-left: 1px;
} 
span.title-span {
    font-weight: bold;
    padding-top: 6px;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 18px;
}
p.content-tags {
    padding: 10px 0px 10px 0px;
}
.row.main-row {
    margin-top: 2%;
}
.col-sm-4 {
    margin-bottom: 10px;
}
